* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    background-color: rgb(27, 27, 27);
    color:rgb(43, 43, 43);
    font-family: 'Inter', sans-serif;
    width: 100vw;
    position:absolute;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
}

h1,
h2,
h3 {
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    width: 100%
}

.table-wrapper {
    overflow-x:auto;
    /* width: 100%; */
}

.issue-table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
}

a {
    color:rgb(43, 43, 43);
    text-decoration: none;
}

th,
td {
    border: 1px solid rgb(43, 43, 43);
    padding: 10px; 
}

th {
    font-size: 25px; 
    text-align: center;
    background-color: rgb(168, 175, 175);
}

td {
    font-size: 20px;
    text-align: left; 
}

tr:nth-of-type(odd) { 
    background: #c0e7f3; 
}

.issue-label {
    font-size: 10px;
    margin-bottom: 5px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

@media screen and (max-width: 868px) {
    h1 {
        font-size: 30px;
    }
    th {
        font-size: 18px; 
    }
    
    td {
        font-size: 16px;
    }
}